$("#adddelete_form_<%=@book.id%>")
  .replaceWith('<td id= "adddelete_form_<%=@book.id%>">  <%= button_to '本棚から除く', shelf_path(@shelf.id), method: :delete, class: "btn btn-secondary", remote:true%>  </td>')
