$("#adddelete_form_<%=@book.id%>")
  .replaceWith('<td id= "adddelete_form_<%=@book.id%>"> <%= button_to '本棚に入れる',  shelves_path,  params: { shelf: { user_id: current_user.id,tid: @book.tid,pid: @book.pid } }, class: "btn btn-primary",remote:true%></td>%>')
