
<h1><%= @books[1].author %></h1>
<% @books.each do |book|%>
<table>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= link_to 'detail',book %></td>
  </tr>
  </table>
  <% end %>
