<h1>図書一覧</h1>
<div class="center">
  <div class="search input-group">
    <%= form_tag(search_books_path,method: :get,class:"form-group") do %>
    <div class="input-group">
      <%= text_field_tag :search,"",class:"form-control" %>
      <span class="input-group-btn">
        <%= submit_tag 'Search', :name => nil ,class: "btn btn-default"%>
      </span>
    <% end %>
  </div>
</div>

<%= render :partial => "shared/allbooks" %>
