@import "bootstrap-sprockets";
@import "bootstrap";

.container {}
.about{
  color: #333;
  padding: 15px;
  line-height: 20px;
  display: block;

}
.center {
  margin: auto;
  text-align: center;
  width: 100%;

  a {
    text-decoration: none;
    color: #333;
  }
  .search-container{
    width: 100%;
    margin: auto;
    padding: 10px;
    border: 1px solid #000;

    #search{
      height: 50px;
      width: 70%;
      margin: auto;
      display: inline-block;
    }
    .submit{
      width: 25%;
      height: 50px;
      display: inline-block;
      font-size: 2rem;
    }
    .radio-container{
      display: block;
      margin: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    input[type=radio] {
    display: none;
    }
    .radio{
      font-size: 1.5rem;
      transition: background-color 0.2s linear;
      position: relative;
      display: inline-block;
      padding: 12px;
      min-width: 100px;
      margin: 5px;
      border-radius: 8px;
      border: 1px solid #eee;
      vertical-align: middle;
      cursor: pointer;
      &:hover{
        background-color: #eee;
      }

    }
    input[type=radio]:checked + .radio {
      background-color: #aaa;
    }
  }


  table {
    background-color: #eee;
    border-radius: 2rem;
    width: 100%;
  }

  .table th {
    background-color: #777;
    color: #fff;
    border: 0;

    &:first-child {
      border-radius: 2rem 0 0 0;
    }

    &:last-child {
      border-radius: 0 2rem 0 0;
    }
  }

  .table tr:hover {
    cursor: pointer;
    background-color: #fff;
  }

  .table th {
  }

  .table td {
    font-size: 1rem;
    letter-spacing: 0.3px;
    text-align: left;
    min-width: 50px;


    &.title {
      font-size: 1.5rem;
      min-width: 80px;
    }

    &.author {
      font-size: 1rem;
    }
    .btn-primary{
      font-size: 1rem;
      padding: 5px;
      display: block;
      white-space: pre-line;
      word-break: break-all;
    }
  }

  .table .tag {
    font-size: 1rem;
    color: #364e96;
    border: solid 3px #364e96;
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: center;
  }

  /* book show page */
  .book-show-button{
    margin: auto;
    background-color: #fff;
    td{
      padding: 15px;
    }
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


.button_to{
  font-size: 1.3rem;
}

.search {
  margin: 0 auto;

  &.input-group {
    font-size: 1rem;
  }
}

.star-rating {
  position: relative;
  display: inline-block;
  font-size: 1rem;
}

.star-rating .star-rating-item {
  position: absolute;
  overflow: hidden;
}

.star-rating .star-rating-item:before {
  content: "★★★";
  color: #ffcc33;
}

.star-rating:after {
  content: "★★★";
  color: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
  font-size: 3em;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h4 {
  font-size: 3.5rem;
  letter-spacing: 0.3px;
  text-align: center;
  color: #fff;
  padding-right: 20px;
}



/* revues */

.revues {
  width: 70%;
  margin: auto;
  list-style: none;
  padding: 0;
  text-align: left;
  li {
    padding: 15px;
    border: 1px solid #e8e8e8;
  }
  .title {
    font-size: 2rem;
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
  }
  .timestamp,
  .user {
    color: $gray-light;
    text-align: right;
  }

}

/* revue form */
.revue-form-wrapper{
  background-color: #eee;
  padding: 10px 30px 30px;
  width: 70%;
  margin: 60px auto;

  .revue-form{
    display: block;
    text-align: left;
    .text{
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }
}
