@import "bootstrap-sprockets";
@import "bootstrap";
@mixin pc($width: 769px) {
  @media screen and (min-width: $width) {
    @content;
  }
}
@mixin sp($width: 768px) {
  @media screen and (max-width: $width) {
    @content;
  }
}
/*sign up*/
hr {
  background-color: #aaa;
  height: 1px;
}

.sign_inup {
  margin: auto;
  text-align: center;
  max-width: 380px;

  .field {
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
  }

  .devise_links {
    margin-top: 20px;
    padding: 15px 15px 10px;
    text-align: left;
    width: 100%;
    background-color: #eee;
  }
}
/*edit user*/
.edit_user {
  margin: auto;
  text-align: center;
  max-width: 380px;

  .field {
    text-align: left;
    width: 90%;
    margin-bottom: 5px;
  }

  .devise_links {
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    width: 100%;
    background-color: #eee;
  }
}

.edit_field {
  background-color: #eee;
  padding: 15px;
  margin-bottom: 20px;
}

.edit_submit {
  background-color: #eee;
  padding: 15px;
  margin-bottom: 20px;
}
/*search top*/
.container {}

.about {
  color: #333;
  padding: 15px;
  line-height: 20px;
  display: block;
}

.center {
  margin: auto;
  text-align: center;
  width: 100%;

  .top-image {
    width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  .search-container {
    width: 100%;
    margin: auto;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 0.5rem;
    @include pc {
      padding: 30px;
    };

    #search {
      height: 50px;
      width: 70%;
      margin: auto;
      display: inline-block;
      @include pc {
        width: 60%;
      };
    }

    .submit {
      width: 25%;
      height: 50px;
      display: inline-block;
      font-size: 2rem;
      border-radius: 0.3rem;
      @include pc {
        width: 15%;
      };
    }

    .radio-container {
      display: block;
      margin: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include pc {
        width: 70%;
        margin: auto;
      };
    }

    input[type=radio] {
      display: none;
    }

    .radio {
      font-size: 1.5rem;
      transition: background-color 0.2s linear;
      position: relative;
      display: inline-block;
      padding: 12px;
      min-width: 110px;
      margin: 5px;
      border-radius: 8px;
      border: 1px solid #ddd;
      vertical-align: middle;
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }
    }

    input[type=radio]:checked + .radio {
      background-color: #337ab7;
      color: #fff;
    }
  }

  table {
    background-color: #eee;
    //border-radius: 2rem;
    width: 100%;
  }

  .table .tag {
    font-size: 1rem;
    color: #364e96;
    border: solid 1.5px #364e96;
    padding: 0.3rem;
    border-radius: 0.3rem;
    text-align: center;
    @include pc {
      font-size: 1.5rem;
    };
  }

  .table th {
    background-color: #777;
    color: #fff;
    border: 0;
    vertical-align: middle;

    &:first-child {
      //border-radius: 2rem 0 0 0;
    }

    &:last-child {
      //border-radius: 0 2rem 0 0;
    }

    &.shelf-th {
      @include sp {
        display: none;
      };
      @include pc {
        display: block;
      };
    }
  }

  .table tr:hover {
    cursor: pointer;
    background-color: #fff;
  }

  .table td {
    font-size: 1.5rem;
    //letter-spacing: 0.3px;
    text-align: left;
    vertical-align: middle;
    min-width: 50px;

    &.title {
      font-size: 2rem;
      min-width: 80px;
      padding-top: 20px;
      padding-bottom: 20px;
      @include pc {
        font-size: 3.5rem;
        padding: 15px;
      };
    }

    &.author {
      @include pc {
        font-size: 2rem;
      };
    }

    &.time {
      @include pc {
        font-size: 1.5rem;
      };
    }

    &.shelf-td {
      @include sp {
        display: none;
      };
      @include pc {
        display: table-cell;
      };
    }

    .btn-primary {
      @include sp {
        display: none;
      };
      @include pc {
        padding: 5px;
        display: block;
        white-space: pre-line;
        word-break: break-all;
      };
    }
  }
  /* book show page */
  .book-show-button {
    margin: auto;
    background-color: #fff;

    td {
      padding: 15px;
    }
  }
}

#error_explanation {
  color: red;

  ul {
    color: red;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.button_to {
  font-size: 1.3rem;
}

.search {
  margin: 0 auto;

  &.input-group {
    font-size: 1rem;
  }
}

.star-rating {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  @include pc {
    font-size: 2rem;
  };
}

.star-rating .star-rating-item {
  position: absolute;
  overflow: hidden;
}

.star-rating .star-rating-item:before {
  content: "★★★";
  color: #ffcc33;
}

.star-rating:after {
  content: "★★★";
  color: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
  font-size: 3em;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h4 {
  font-size: 3.5rem;
  letter-spacing: 0.3px;
  text-align: center;
  color: #fff;
  padding-right: 20px;
}

.alert {
  padding: 0;
  margin: 0;
}
/* revues */
.revues {
  width: 100%;
  margin: auto;
  list-style: none;
  padding: 0;
  text-align: left;
  @include pc {
    width: 50%;
  };

  li {
    padding: 15px;
    border: 1px solid #e8e8e8;
  }

  .title {
    font-size: 2rem;
    margin-top: 5em;
    padding-top: 0;
    word-wrap: break-word;
  }

  .content {
    display: block;
    word-wrap: break-word;
  }

  .timestamp,
  .user {
    color: $gray-light;
    text-align: right;
  }
}
/*book show page*/
.button_list {
  margin: 10px auto;

  .book-show-button td {
    padding: 0;
  }

  .btn {
    width: 100%;
    @include pc {
      width: 30%;
    };
  }
}
/* revue form */
.revue-form-wrapper {
  background-color: #eee;
  padding: 10px 30px 30px;
  width: 100%;
  margin: auto;
  @include pc {
    width: 50%;
    margin-top: 20px;
  };

  .revue-form {
    display: block;
    text-align: left;

    .text {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }
}
/*user show*/
.center table.user_table {
  width: 70%;
  margin: auto;
}