@import "bootstrap-sprockets";
@import "bootstrap";

.container {}

.center {
  margin: auto;
  text-align: center;
  width: 80%;

  a {
    text-decoration: none;
    color: #333;
  }

  table {
    background-color: #eee;
    border-radius: 2rem;
  }

  .table th {
    background-color: #777;
    color: #fff;
    border: 0;

    &:first-child {
      border-radius: 2rem 0 0 0;
    }

    &:last-child {
      border-radius: 0 2rem 0 0;
    }
  }

  .table tr:hover {
    cursor: pointer;
    background-color: #fff;
  }

  .table th {
    padding: 15px;
  }

  .table td {
    font-size: 3rem;
    letter-spacing: 0.3px;
    text-align: left;
    padding: 15px 20px 15px 15px;

    &.title {
      font-size: 3.3rem;
      width: 60%;
    }

    &.author {
      font-size: 2rem;
      width: 20%;
    }
  }

  .table .tag {
    font-size: 1.5rem;
    color: #364e96;
    border: solid 3px #364e96;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 100px;
    text-align: center;
  }
}

.button_to{
  font-size: 1.3rem;
}

.search {
  margin: 0 auto;

  &.input-group {
    width: 80%;
    font-size: 3rem;
  }
}

.star-rating {
  position: relative;
  display: inline-block;
  font-size: 3rem;
}

.star-rating .star-rating-item {
  position: absolute;
  overflow: hidden;
}

.star-rating .star-rating-item:before {
  content: "★★★★★";
  color: #ffcc33;
}

.star-rating:after {
  content: "★★★★★";
  color: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
  font-size: 3em;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h4 {
  font-size: 3.5rem;
  letter-spacing: 0.3px;
  text-align: center;
  color: #fff;
  padding-right: 20px;
}

/* revues */

.revues {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .title {
    font-size: 2rem;
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp,
  .user {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }

}
