<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレス変更の依頼を受け付けました。アドレス： <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>メールアドレス変更の依頼を受け付けました。アドレス： <%= @resource.email %>.</p>
<% end %>
