<p>Hello <%= @resource.email %>!</p>

<p>パスワード再設定の依頼を受け付けました。次のリンクからパスワードの再設定ができます。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>お心当たりがない場合は、このメールは無視してください。</p>
<p>上のリンクにアクセスして新しいパスワードを設定するまで、パスワードは変更されません。</p>
